*{
    margin: 0;
    padding: 0;
    background-color: #414141;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: auto;
    margin-top: 25px;
}
.bigbox{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallbox{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}
a{
    font-size: 24px;
}